<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
  </head>
  <style>
  table, th, td {
    border: 1px solid black;
  }
  </style>
  <body style="background-image: url ('Macintosh HD/Utilisateur/nishizaoryunaga/telechargement/the.jpg')">
    <p>
    </p>
    <h1 align="center">budha bowl</h1><br />
    <p align="center">
    	<img src="https://www.atelierdeschefs.com/media/recette-d29403-buddha-bowl.jpg" alt="bowl" width="800" height="200">
    </p>
    <table style="width:100%">
      <tr>
        <th>Les ingrédients</th>
        <th>La recette</th>
      </tr>
      <tr align="center">
        <td>100 g de riz</td>
        <td>Laver votre riz, puis le faire cuire comme à votre habitude.</td>
      </tr>
      <tr align="center">
        <td>1 avocat</td>
        <td>Couper l'avocat en deux et mettre celui-ci dans un bol</td>
      </tr>
      <tr align="center">
        <td>2 tomates cerise</td>
        <td>Laver les tomates puis les couper en deux</td>
        <tr align="center">
          <td>2 carottes</td>
          <td>Laver les carottes et les couper en rond</td>
        </tr>
        <tr align="center">
          <td>50g de brocolis</td>
          <td>Laver les brocolis et les rajouter dans un bol avec les autes légumes</td>
        </tr>
        <tr align="center">
          <td></td>
          <td>Mettre le riz en bas du bol puis rajouter les légumes, rajouter le jus d'un demie citron vert</td>
        </tr>
     </table>   
    
  </body>
</html>

<%= link_to 'about', about_path %> |
<%= link_to 'etapes', articles_path %>