<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
  </head>
  <style>
  </style>
  <body>
<div class="center container">
  <div class="jumbotron">
  <h1>Alpha blog</h1>
  <p>Bienvenue sur Alpha blog, le blog des recettes du monde</p>
  <p><%= link_to "s'inscrire", "#", class: "btn btn-success btn-lg" %></p>
  </div>
</div>
  </body>
</html>