<div class= "container">
    <footer>
        <small>
            Site créé par Nishizao
        </small>
        <nav>
            <ul>
                <li><%= link_to "A propos", about_path %></li>
            </ul>
        </nav>
    </footer>   
</div>